.add-task-wrapper {
  position: relative;
  margin-left: 260px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-x: hidden;
  z-index: 0;
}

.add-task-form {
  display: flex;
  gap: 45px;
}

.task-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 500px;
  height: 376px;
}

.add-task-wrapper h1 {
  font-size: 48px;
  font-weight: 600;
}

.add-task-buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  padding-left: 670px;
  box-sizing: border-box;
}

.add-task-buttons:hover {
  cursor: pointer;
}

.cancel-btn {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

.create-task-btn {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  background: #2a3647;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 16px;
}

.create-task-btn:hover {
  background: #091931;
}

.priority-buttons {
  display: flex;
  gap: 8px;
}

.priority-buttons-size {
  height: 56px;
  width: 136px;
}

.priority-buttons:hover {
  cursor: pointer;
}

.priority-btn {
  border-radius: 10px;
  padding: 12px 20px;
  border: 1px solid #d1d1d1;
  background: #fff;
  cursor: pointer;
}

.required-hint {
  font-size: 14px;
  color: #f26262;
}

.task-column:first-child {
  border-right: 1px solid #d1d1d1;
  padding-right: 60px;
}

.task-column:last-child {
  padding-left: 16px;
}


.header-logo-small {
  display: none;
}

.task-input {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  gap: 10px;
}

.task-input-description {
  width: 440px;
  height: 120px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  border: 1px solid #d1d1d1;
}

.add-task-form label {
  margin-bottom: -8px;
}

label {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}
.remove-background {
  background: none;
  border: none;
  padding: 0;
}
.multi-select {
  width: 100%;
  position: relative;
}

.selected-box {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background: white;
  border-radius: 10px;
  width: 100%;
  gap: 8px;
  
}

.checkbox-list {
  display: none;
  border: 1px solid #aaa;
  background: white;
  position: absolute;
  width: 100%;
  top: 42px;
  z-index: 10;
  padding: 10px;
}
.checkbox-list label {
  display: block;
}
.checkbox-item {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;  
  margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: unset;
    align-items: center;
}
.dividing-line {
  width: 2px;
  height: 24px;
  background-color: var(--lightGray-default);
  margin: 0 8px;
}

.subtask-buttons{
      bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    position: relative;
    left: 376px;
    width: 50px;
}
.subtask-btn{
    cursor: pointer;
}
.subtask-btn:hover{
    opacity: 0.8;
    background-color:var(--lightGray-default);
}

.point{
    height: 8px;
    width: 8px;
    background-color: var(--darkGray-default);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


