.add-task-wrapper {
  margin-top: 160px; 
  margin-left: 260px; 
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.add-task-form {
  display: flex;
  gap: 48px;
}

.task-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 500px;
  height: 376px;
}

.add-task-wrapper h1 {
  font-size: 48px;
  font-weight: 600;
}


.add-task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 32px;
  padding-right: 500px;
}

.add-task-buttons:hover {
  cursor: pointer;
}

.cancel-btn {
  width: 110px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2A3647;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}

.create-task-btn {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  background: #2A3647;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 16px;
}

.create-task-btn:hover {
  background: #091931;
}

.priority-buttons {
  display: flex;
  gap: 8px;
}

.priority-buttons:hover {
  cursor: pointer;
}

.priority-btn {
  border-radius: 10px;
  padding: 12px 20px;
  border: 1px solid #d1d1d1;
  background: #fff;
  cursor: pointer;
}

.required-hint {
  font-size: 14px;
  color: #f26262;
}

.task-column:first-child {
  border-right: 1px solid #D1D1D1;
  padding-right: 16px; 
}

.task-column:last-child {
  padding-left: 16px;
}

.task-input {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 21px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  gap: 10px;
}

.task-input-description{
  width: 440px;
  height: 120px;
  gap: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  border: 1px solid #d1d1d1;
}

.add-task-form label {
  margin-bottom: -8px;
}

label{
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;  
}






