* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.h1 {
  font-size: 61px;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
}

.h2 {
  font-size: 27px;
  font-weight: 700;
  color: black;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.mb-30{
  margin-bottom: 30px;
}

:root {
  --gray-default: #A8A8A8;
  --orange-default: #ff7a00;
  --pink-default: #FF5EB3;
  --purpleViolett-default: #6E52FF;
  --pruple-default: #9327FF;
  --cyan-default: #00BEE8;
  --aquamarine-default: #1FD7C1;
  --coral-default: #FF745E;
  --orange-default: #FFA35E;
  --magenta-default: #FC71FF;
  --yellow-default: #FFC701;
  --blue-default: #0038FF;
  --lime-default: #C3FF2B;
  --lemonYellow-default: #C3FF2B;
  --red-default: #C3FF2B;
  --amber-default: #FFBB2B;
  --lightGray-default: #D1D1D1;
  --veryLightGray-default: #F4F4F4;
  --skyBlue-default: #2AABE2;
  --mainColor-default: #2A3647;
  --midnightBlue-default: #091931;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f7f8;
  font-family: "Inter", sans-serif;
}

.sideBoard {
  width: 230px;
  height: 100vh;
  background-color: var(--mainColor-default);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

}

.navLeftTop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navLeftBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 65px;
}

.navLeftTop a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  padding: 12px 0 12px 0;
}

.navLeftBottom a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #A8A8A8;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0 12px 54px
}

.nav-item-top:hover {
  background: #2A3C59;
  color: #fff;
}

.nav-item-bottom:hover {
  background: none;
  color: #29ABE2;
  ;
}

.navLeftTop a img{
  margin-right: 14px;
}

.nav-item-top img {
  width: 30px;
  justify-self: center;
  margin-left: 54px;
}

.nav-item-top span {
  align-self: center;
}

.active-link img {
  width: 30px;
  justify-self: center;
  margin-left: 54px;
}

.active-link span {
  align-self: center;
}

.active-link {
  background-color: #0A1931;
  pointer-events: none;
}

.container {
  display: flex;
}

.mainContent {
  flex: 1;
  margin-left: 330px;
  margin-top: 210px;
}

.header {
  position: fixed;
  left: 230px;
  right: 0;
  top: 0;
  height: 10%;
  max-height: 120px;
  background: #fff;
  border-bottom: 2px solid #e2e6ec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);
}

.header-title {
  font-size: 20px;
  font-weight: 400;
  margin-left: 80px;
  color: black;
}

.privacy-text {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
  max-width: 1000px;
}

.join-logo {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 110px;
}

.content-wrap {
  flex: 1;
}

.help {
  background: url(../assets/sideboardAssets/helpIcon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--gray-default);
  width: 4vw;
  /* 20% der Viewport-Breite */
  height: 4vw;
  max-height: 40px;
  max-width: 40px;
}

.help:hover {
  color: var(--mainColor-default);
  height: 5vw;
  width: 5vw;
  max-height: 50px;
  max-width: 50px;
}

.userProfileInitials {
  width: 6vw;
  /* 20% der Viewport-Breite */
  height: 6vw;
  max-height: 60px;
  max-width: 60px;
  border-radius: 50%;
  border: var(--mainColor-default) solid 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3%;
}

.headerRight {
  width: 30%;
  max-width: 220px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.join-text {
  color: var(--skyBlue-default);
}