html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .legal-area {
    max-width: 1014px;
    padding-top: 32px;
  }
  
  .legal-h1 {
    font-size: 61px;
    font-weight: bold;
    width: 371px;
    height: 73px;
    gap: 30px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .legal-section {
    max-width: 1014px;
    margin-bottom: 16px;
  }
  
  .legal-h2 {
    font-size: 27px;
    font-weight: 700;
    margin: 18px 0 0 0;
    color: black;
  }

  .legal-h2-big {
    font-size: 27px;
    font-weight: 700;
    margin: 18px 0 0 0;
    color: black;
  }

  .legal-h2.small {
    margin-top: 20px;
    font-size: 15px;
  }
  
  .legal-meta {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
  }
  
  .legal-p {
    font-size: 16px;
    color: black;
    line-height: 1.45;
    margin-bottom: 12px;
  }
  
  .legal-bullets {
    font-size: 16px;
    color: black;
    margin-left: 20px;
    margin-bottom: 12px;
    line-height: 1.45;
    list-style: disc;
  }

  .mainContentLegal {
    flex: 1;
    padding: 40px 60px;
    margin-left: 250px; 
    margin-top: 70px;   
  }

  span{
    color: #2AABE2;
  }
