  .legal-area {
    max-width: 1014px;
    padding-top: 32px;
  }

  .legal-section {
    max-width: 1014px;
    margin-bottom: 16px;
  }
  
  .legal-meta {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
  }
  
  .legal-p {
    font-size: 16px;
    color: black;
    line-height: 1.45;
    margin-bottom: 12px;
  }
  
  .legal-bullets {
    font-size: 16px;
    color: black;
    margin-left: 20px;
    margin-bottom: 12px;
    line-height: 1.45;
    list-style: disc;
  }

  .mainContentLegal {
    flex: 1;
    padding: 40px 60px;
    margin-left: 250px; 
    margin-top: 70px;   
  }

  span{
    color: #2AABE2;
  }
