.main-content-legal {
  padding-top: 220px;
  padding-left: 330px;
  padding-right: 65px;
}

.legal-area {
  max-width: 1014px;
  padding-top: 32px;
}

.legal-section {
  max-width: 1014px;
  margin-bottom: 16px;
}

.legal-meta {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.legal-p {
  font-size: 16px;
  color: black;
  line-height: 1.45;
  margin-bottom: 12px;
}

.legal-bullets {
  font-size: 16px;
  color: black;
  margin-left: 20px;
  margin-bottom: 12px;
  line-height: 1.45;
  list-style: disc;
}

span {
  color: #2aabe2;
}

.mobile-nav span {
  color: #a8a8a8;
}

.legal-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.h1-arrow {
  width: 24px;
  height: 24px;
}

@media (min-width: 1051px) {
  .h1-arrow {
    display: none;
  }
}

@media (max-width: 1050px) {

  .legal-p,
  .privacy-text,
  .legal-bullets,
  .legal-meta {
    text-align: justify;
  }
}

.help {
  display: none;
}

.main-content-legal {
  margin-left: 0;
  width: 100%;
  padding: 110px 16px 100px 16px;
  text-align: left;
  padding-left: 16px;
  /* Reset padding-left from desktop/larger queries */
  padding-right: 16px;
}

.legal-bullets {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
}

@media (max-width: 900px) {
  header-title {
    font-size: 16px;
  }

  h1 {
    font-size: 48px;
  }
}