  h1{
    font-size: 61px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0%;
    align-items: center;
    padding-bottom: 8px;
  }

  span{
    color: skyblue;
  }

  .login-box-signup h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }
  
  .h1-icon {
    width: 24px;
    height: 24px;
    left: 1px;
  }

  .login-box-signup {
    position: relative; 
    background: white;
    width: 652px;
    padding: 48px 115px;
    border-radius: 30px;
    text-align: center;
    gap: 32px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  }
  
  .back-btn {
    position: absolute;
    top: 65px;
    left: 70px;
    width: 32px;
    height: 32px;
  }
  
  .back-btn img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  