
.login-box-signup h1 {
  font-size: 3.8rem; 
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}

.underline {
  width: 160px;
  height: 3px;
  background: #29ABE2;
  margin: 0 auto 25px;
}

.login-box-signup {
  background: white;
  width: 598px;
  height: 630px;
  padding: 48px;      
  border-radius: 30px;
  text-align: center;
  gap: 32px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin: 40px auto;     
  position: relative;
  box-sizing: border-box; 
  margin-top: 125px;
}

/* Zurück-Button */
.back-btn {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 32px;
  height: 32px;
}
.back-btn img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Input-Felder */
.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.input-field .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

label {
  font-size: 14px;
}

label span {
  color: #29ABE2; 
}

/* Button-Gruppe */
.btn-group {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.logo img {
  height: 121.97px;
  width: 100.03px;
  top: 80px;
  left: 77px;
  transition: transform 0.25s ease, opacity 0.25s ease;
}


.primary-btn {
  background: #2a3647;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

@media (max-height:900px){
  .logo img{
    width: 64px;
    height: 78px;
  }
}

@media (max-width: 800px){
  .login-box-signup {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media (max-width: 500px) {

  .login-box-signup {
    width: 396px;
    height: 595px;
    margin-right: 24px;
    margin-left: 24px;
  }
  .login-box-signup h1{
    font-size: 46px;
  }

  .back-btn {
    top: 24px;
    left: 24px;
  }

  .input-field input {
    width: 107%;
    height: 48px;
  }

  .btn-group {
    flex-direction: column;
    gap: 20px;
  }

  .logo img{
    height: 78px;
    width: 64px;
    top: 37px;
    left: 38px;
  }

  .primary-btn {
    width: 100%;
    height: 51px;
  }
  .input-field .icon {
    margin-right: -15px;
}
.checkbox.accept-terms {
    padding-top: 32px;
}
.btn-group {
  margin-top: 32px !important;
}
.primary-btn {
  width: 180px !important; 
  height: 51px !important;
}
}

@media (max-width: 370px){
  .login-box-signup {
    margin-left: 24px;
}
}


  